:root {
  --navy-shadow: rgba(2, 12, 27, 0.7);
  --background-color: #000000;
  --lightest-navy: #a0accf;
  --light-navy: #6b748d;
  --dark-slate: #353f52;
  --slate: #8892b0;
  --light-slate: #ebf1f1;
  --lightest-slate: #ebf1f1;
  --theme-color: #5883af;

  --tsm: 13px;
  --tsm1: 14px;
  --tsm2: 15px;
  --tbase: 16px;
  --tlarge: 16px;
  --tlarge2: 22px;
  --txlarge: 25px;
  --tx2large: 32px;
  --tgiant: clamp(30px, 8vw, 60px);
  @media screen and (max-width: 480px) {
    --tx2large: 25px;
  }
}
