:root {
  --navy-shadow: rgba(255, 255, 255, 0.7);
  --background-color: #29103d;
  --lightest-navy: #eda217;
  --light-navy: #242222;
  --dark-slate: #000000;
  --slate: #ffffff;
  --light-slate: #ffffff;
  --lightest-slate: #ebf1f1;
  --theme-color: #f6b025;

  --tsm: 13px;
  --tsm1: 14px;
  --tsm2: 15px;
  --tbase: 16px;
  --tlarge: 16px;
  --tlarge2: 22px;
  --txlarge: 25px;
  --tx2large: 32px;
  --tgiant: clamp(30px, 8vw, 60px);
  @media screen and (max-width: 480px) {
    --tx2large: 25px;
  }
}
